## my_recommender

By Jos√© Manuel Villarreal

In [3]:
import pandas as pd
import numpy as np

In [4]:
df= pd.read_csv('https://raw.githubusercontent.com/albanda/CE888/master/lab4-recommender/jester-data-1.csv',header=None)

In [5]:
df.head

<bound method NDFrame.head of        0      1      2      3      4     5      6     7     8      9    ...  \
0       74  -7.82   8.79  -9.66  -8.16 -7.52  -8.50 -9.85  4.17  -8.98  ...
1      100   4.08  -0.29   6.36   4.37 -2.38  -9.66 -0.73 -5.34   8.88  ...
2       49  99.00  99.00  99.00  99.00  9.03   9.27  9.03  9.27  99.00  ...
3       48  99.00   8.35  99.00  99.00  1.80   8.16 -2.82  6.21  99.00  ...
4       91   8.50   4.61  -4.17  -5.39  1.36   1.60  7.04  4.61  -0.44  ...
...    ...    ...    ...    ...    ...   ...    ...   ...   ...    ...  ...
24978  100   0.44   7.43   9.08   2.33  3.20   6.75 -8.79 -0.53  -8.74  ...
24979   91   9.13  -8.16   8.59   9.08  0.87  -8.93 -3.50  5.78  -8.11  ...
24980   39  99.00  99.00  99.00  99.00 -7.77  99.00  6.70 -6.75  99.00  ...
24981   37  99.00  99.00  99.00  99.00 -9.71  99.00  4.56 -8.30  99.00  ...
24982   72   2.43   2.67  -3.98   4.27 -2.28   7.33  2.33  4.56   6.75  ...

         91     92     93     94     95     96     97     98     99     100
0       2.82  99.00  99.00  99.00  99.00  99.00  -5.63  99.00  99.00  99.00
1       2.82  -4.95  -0.29   7.86  -0.19  -2.14   3.06   0.34  -4.32   1.07
2      99.00  99.00  99.00   9.08  99.00  99.00  99.00  99.00  99.00  99.00
3      99.00  99.00  99.00   0.53  99.00  99.00  99.00  99.00  99.00  99.00
4       5.19   5.58   4.27   5.19   5.73   1.55   3.11   6.55   1.80   1.60
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
24978   8.83  -1.21   9.22  -6.70   8.45   9.03   6.55   8.69   8.79   7.43
24979  -1.17  -5.73  -1.46   0.24   9.22  -8.20  -7.23  -8.59   9.13   8.45
24980  99.00  99.00  99.00  99.00  99.00  99.00  99.00  99.00  99.00  99.00
24981  99.00  99.00  99.00  99.00  99.00  99.00  99.00  99.00  99.00  99.00
24982  99.00  99.00  99.00  99.00  99.00  99.00  99.00  99.00  99.00  99.00

[24983 rows x 101 columns]>

In [8]:
df = df.replace(99, np.nan)
df = df.drop([0], axis = 1)

In [9]:
df.shape

(24983, 100)

In [12]:
#To find out the average rating of the lowest/highest
joke_mean_sorted = sorted(df.mean())
joke_mean_max = max(joke_mean_sorted)
joke_mean_min = min(joke_mean_sorted)
print('Max ', joke_mean_max, 'Min ', joke_mean_min)

Max  3.6650848950824924 Min  -3.8338796373689963

In [13]:
#Finds specific value of user and joke
df.iloc[20489,20]

4.85

In [16]:
arr = df.values
arr

array([[-7.82,  8.79, -9.66, ...,   nan,   nan,   nan],
       [ 4.08, -0.29,  6.36, ...,  0.34, -4.32,  1.07],
       [  nan,   nan,   nan, ...,   nan,   nan,   nan],
       ...,
       [  nan,   nan,   nan, ...,   nan,   nan,   nan],
       [  nan,   nan,   nan, ...,   nan,   nan,   nan],
       [ 2.43,  2.67, -3.98, ...,   nan,   nan,   nan]])

In [ ]:
df[df['Factor15'] == movie_items_data['Factor15'].min() ]

## Movies

In [20]:
#movies dataset

#Matrix for movies and their factors
movie_items_data = pd.read_excel('https://raw.githubusercontent.com/albanda/CE888/master/lab4-recommender/movies_latent_factors.xlsx', sheet_name='Items')
#Matrix for users and their factors
movie_users_data = pd.read_excel('https://raw.githubusercontent.com/albanda/CE888/master/lab4-recommender/movies_latent_factors.xlsx', sheet_name='Users')

In [21]:
movie_users_data.head

<bound method NDFrame.head of     User   Factor1   Factor2   Factor3   Factor4   Factor5   Factor6  \
0   4768 -0.204024  0.161079 -0.090447  0.138495 -0.162934  0.163894
1    156 -0.189652 -0.178979 -0.091490 -0.000823 -0.032646  0.177209
2   5323 -0.115308 -0.090886 -0.053129  0.018472 -0.068081 -0.004828
3    174 -0.227462 -0.272532 -0.017231  0.054324  0.214755 -0.072639
4   4529 -0.014616 -0.102218 -0.107935  0.155784 -0.123362 -0.118228
5    783 -0.020301 -0.031919 -0.036955  0.033690  0.000174 -0.003178
6   3878 -0.091462  0.215879 -0.180453  0.085408 -0.321094  0.227947
7    768  0.000819 -0.009229 -0.019228  0.002703  0.012869  0.006655
8   4469 -0.030528 -0.011537 -0.042822 -0.014378  0.031338  0.012297
9   1882 -0.083093 -0.029160  0.013748  0.022716 -0.062732 -0.080670
10  4997 -0.185443 -0.276496 -0.781275 -0.240506  0.029611 -0.271814
11  2067 -0.083242  0.181171 -0.344267 -0.019713 -0.243199  0.039220
12  3806 -0.042344 -0.040755 -0.055720 -0.073726  0.018203  0.091940
13  2848 -0.113283 -0.098942 -0.040393  0.042180 -0.041068 -0.039568
14  4433 -0.298760 -0.290228 -0.160120  0.156277 -0.055364 -0.434205
15  3519 -0.068454  0.020090  0.039336  0.002958 -0.018140  0.006501
16  5338 -0.061259  0.014661  0.011412  0.001727  0.064996 -0.078448
17  3947 -0.022340 -0.115285 -0.136980  0.038593 -0.003029  0.071770
18  4373 -0.136550 -0.089406 -0.235399  0.120585 -0.168168  0.129990
19  2092 -0.121763  0.011065 -0.037121  0.032568  0.017570  0.095802
20   525 -0.040290  0.014383 -0.098967 -0.018957  0.012388  0.035546
21  4327  0.008227  0.073899 -0.323967  0.131203 -0.320862  0.054997
22  3048 -0.320315  0.078290 -0.083182 -0.221577 -0.078184 -0.145306
23  2665 -0.076167 -0.006064 -0.001902 -0.053641  0.021751  0.048207
24  4940 -0.113099  0.047643 -0.053024  0.024834  0.010643 -0.012051

     Factor7   Factor8   Factor9  Factor10  Factor11  Factor12  Factor13  \
0   0.051502 -0.088582  0.126829  0.065967  0.085008  0.355404  0.007108
1  -0.098123 -0.068283 -0.011575  0.120866 -0.009931 -0.048606  0.045916
2   0.113005  0.102107  0.034758  0.000693 -0.073712 -0.019460  0.108372
3  -0.033122 -0.086508 -0.131479  0.180403  0.095890 -0.082396  0.036767
4  -0.013549 -0.050622  0.058698 -0.159600 -0.142382 -0.132836 -0.039897
5   0.054474  0.045424 -0.053308  0.003437 -0.041750  0.059725 -0.021647
6   0.053767  0.038017  0.097141 -0.139872  0.029253  0.214467  0.189250
7   0.007687  0.018747  0.014705 -0.009256 -0.010116 -0.010051 -0.002108
8  -0.000038 -0.010264 -0.006781 -0.019950 -0.014435  0.010926  0.024400
9  -0.019723  0.013253 -0.091305 -0.090687  0.030638 -0.113364 -0.021325
10 -0.056266 -0.111825 -0.290910 -0.255087 -0.098079  0.103116 -0.100563
11 -0.092086  0.114808 -0.036472  0.042386 -0.186812 -0.127038  0.176661
12  0.123959 -0.157403 -0.020388  0.082493  0.223057 -0.040915 -0.130308
13  0.018291 -0.191254  0.218912  0.017262 -0.087468  0.036894  0.067105
14 -0.089259  0.252211 -0.107413 -0.088591  0.121157  0.071371 -0.415598
15 -0.108526  0.025045  0.056334 -0.031291 -0.035533  0.005171  0.005546
16  0.059510  0.017402 -0.040234 -0.073409 -0.016323  0.031774 -0.062413
17 -0.146675 -0.285724 -0.044472 -0.054032  0.064019 -0.045329 -0.111919
18 -0.035084 -0.324028  0.087531  0.045290  0.207850 -0.028972 -0.175184
19  0.120238 -0.048410  0.008829  0.121778  0.093783  0.044754 -0.003087
20  0.000903  0.012835 -0.021080  0.018742 -0.050483 -0.025394  0.034079
21  0.060751  0.162314  0.044612 -0.232241  0.094986 -0.106570 -0.051692
22 -0.020166  0.124409 -0.063425  0.004726  0.009683  0.028016 -0.018100
23 -0.083980  0.146907 -0.057422  0.006085  0.063240  0.086562 -0.132328
24 -0.049150  0.006252  0.020429  0.004349  0.028372  0.010227 -0.008233

    Factor14  Factor15
0  -0.118663 -0.039125
1   0.113671  0.179873
2   0.054471 -0.109552
3  -0.165438  0.050692
4   0.129063  0.102669
5   0.039873 -0.061857
6   0.065990  0.102776
7   0.043223 -0.006670
8   0.005318 -0.007983
9   0.181508  0.022357
10  0.100164  0.043196
11 -0.055812 -0.000042
12 -0.021816  0.034549
13 -0.016780 -0.029503
14 -0.022139 -0.183021
15  0.020780 -0.023623
16  0.107708  0.065081
17  0.066313  0.002395
18 -0.058283  0.147797
19  0.164487 -0.075231
20  0.038330 -0.001341
21 -0.093490  0.029534
22 -0.128452  0.069972
23  0.146198  0.029200
24 -0.029304  0.090511  >

In [22]:
movie_items_data[movie_items_data['Movie ID'] == 809]

,Movie ID,Title,Factor1,Factor2,Factor3,Factor4,Factor5,Factor6,Factor7,Factor8,Factor9,Factor10,Factor11,Factor12,Factor13,Factor14,Factor15
66,809,Shrek 2 (2004),1.174964,-0.410389,0.239468,1.727501,-0.652589,-0.316079,0.643108,0.26102,-2.325862,0.893878,0.079652,0.702775,-0.927681,-0.10223,-1.368161

In [23]:
movie_items_data[movie_items_data['Factor15'] == movie_items_data['Factor15'].min() ]

,Movie ID,Title,Factor1,Factor2,Factor3,Factor4,Factor5,Factor6,Factor7,Factor8,Factor9,Factor10,Factor11,Factor12,Factor13,Factor14,Factor15
4,22,Pirates of the Caribbean: The Curse of the Bla...,0.517348,-1.456763,0.369161,0.073903,-0.098332,-0.594722,0.828888,0.033626,-0.707414,0.717877,1.394326,-0.786986,1.429191,0.855746,-2.292566

In [24]:
def recommend_movie(user, num_recommendations):
  user = np.array(movie_users_data[movie_users_data['User'] == user].loc[:,'Factor1':])
  scores = pd.DataFrame(columns=['ratings','Movie'])
  movie_id = movie_items_data['Movie ID']
  count = 0
  for i in movie_items_data.drop(['Movie ID'],axis=1).values:
    rating = user.dot(i[1:].reshape(-1,1))
    movie_dict = {'ratings':rating,'Movie':i[0],'Movie ID':movie_id[count]}
    scores = scores.append(movie_dict, ignore_index=True)
    count += 1
  return scores.sort_values('ratings', ascending=False).head(num_recommendations)

In [25]:
recommend_movie(525, 3)

                   ratings                    Movie  Movie ID
10  [[0.3078232584009633]]         Gladiator (2000)      98.0
47  [[0.2803491433062951]]           Titanic (1997)     597.0
39  [[0.2605601213335598]]  A Beautiful Mind (2001)     453.0

In [26]:
recommend_movie(4373, 3)

                   ratings                      Movie  Movie ID
50   [[1.209425481454199]]          The Matrix (1999)     603.0
11  [[1.0655785146297094]]  Back to the Future (1985)     105.0
35  [[0.9502755549013626]]       Jurassic Park (1993)     329.0

In [29]:
np.array(movie_users_data[movie_users_data['User'] == 2067].loc[:,'Factor1':]).dot(np.array(movie_items_data[movie_items_data['Movie ID']==11].loc[:,'Factor1':]).reshape(-1,1))

array([[-0.2394966]])